In [1]:
import pandas as pd

In [3]:
features = pd.read_parquet('../data/features.parquet')

In [4]:
features.head()

,0,1,2,3,4,5,6,7,8,9,...,118,119,120,121,122,123,124,125,126,127
0,-0.295691,-0.308371,-0.320333,-0.331588,-0.342157,-0.352045,-0.361276,-0.369859,-0.377811,-0.385142,...,0.324178,0.345471,0.367638,0.390719,0.414756,0.439790,0.465853,0.492995,0.521256,0.550680
1,-0.258079,-0.266118,-0.273510,-0.280274,-0.286429,-0.291994,-0.296987,-0.301425,-0.305326,-0.308711,...,0.347033,0.362736,0.379012,0.395892,0.413397,0.431551,0.450375,0.469902,0.490149,0.511142
2,-0.189404,-0.196120,-0.202244,-0.207795,-0.212790,-0.217250,-0.221184,-0.224619,-0.227565,-0.230041,...,0.403451,0.417748,0.432555,0.447894,0.463782,0.480239,0.497287,0.514949,0.533246,0.552201
3,-0.103994,-0.112236,-0.119851,-0.126861,-0.133280,-0.139126,-0.144418,-0.149172,-0.153403,-0.157129,...,0.494030,0.510173,0.526910,0.544259,0.562246,0.580890,0.600223,0.620267,0.641047,0.662591
4,0.002152,-0.008790,-0.019125,-0.028864,-0.038016,-0.046594,-0.054611,-0.062077,-0.069001,-0.075398,...,0.607888,0.628505,0.649944,0.672235,0.695415,0.719519,0.744589,0.770660,0.797770,0.825959

In [6]:
target = pd.read_parquet('../data/target.parquet')

In [7]:
target.head()

          0
0  0.494850
1  0.407620
2  0.386126
3  0.413619
4  0.472922

# Regression Model - Supervised Learning

In [3]:
from sklearn import linear_model

ModuleNotFoundError: No module named 'sklearn'